// helper function :

// $margins: (
//     menu: (
//         bottom: 50px
//     )
// );
// @function get-nested($parent, $child, $item) {
//     @return map-get(map-get($parent, $child, $item));
// }


/* reset */

* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin: 0;
        padding: 10px;
    }
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 10px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 10px;
}

aside, 
img,
figure, 
section,
main {
    margin: 0;
    padding: 0;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-family: inherit;
    color: #222;
    border: none;
    border-radius: 5px;
}


/* display */
.show {
    display: block;
}

.hide {
    display: none;
}


/* grid */

.view-grid {
    display: flex;

    &.v-row {
        flex-direction: row;

        &.v-center {
            justify-content: center;
        }
        &.v-around {
            justify-content: space-around;
        }
    }

    &.v-column {
        flex-direction: column;

        &.v-center {
            justify-content: center;
        }
        &.v-start {
            justify-content: flex-start;
        }
        &.v-end {
            justify-content: flex-end;
        }
    }
}

@import "../views/views";
@import "../components/components";
