// helper function :

// $margins: (
//     menu: (
//         bottom: 50px
//     )
// );
// @function get-nested($parent, $child, $item) {
//     @return map-get(map-get($parent, $child, $item));
// }

* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin: 10px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}   


button {
    margin: 5px;
    padding: 10px 20px;
    font-family: inherit;
    color: #222;
    border: none;
    border-radius: 5px;
}

