.app-side-bar {
    min-width: 25%;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: cadetblue;

    &.left {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
    }
}