.about {
    width: 75%;
    margin: 0 0 0 25%;
    padding: 10px;
}

.about main > figure,
.about main > section,
.about main > aside
{
    width: 350px;
    height: 350px;
    padding: 10px;
    border: 3px solid yellowgreen;
    background-color: sandybrown;

    img {
        width: auto;
        height: 100%;
    }

    section, 
    header {
        border: 2px solid black;

        p:first-child {
            flex-grow: 1;
        }

        p:last-child {
            flex-grow: 2;
        }
    }
}