.app-dialog [slot="dialog-container"] {
    min-width: 100%;
    min-height: 150px;
    visibility: hidden;
    background-color: darkgreen;
}

.app-dialog [slot="dialog-container"].show {
    visibility: visible;
}

.app-dialog [slot="content"] .en-btn {
    background-color: yellow;
} 

.app-dialog [slot="content"] .fr-btn {
    background-color: blue;
    color: white;
} 